.p__codeErreur {
    font-size: 5em;
    font-weight: 600;
    color: #b597d9;
    text-align: center;
    margin-top: 10%;
    text-transform: uppercase;
}

.p__messageErreur {
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
    text-align: center;
    color: #715ca2;
}

.span__urlErreur {
    color: #c0a6e3;
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #8f77b2;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: #b996e3;
}

body::-ms-scrollbar {
    width: 12px;
}

body::-ms-scrollbar-thumb {
    background-color: #8f77b2;
    border-radius: 6px;
}

body::-ms-scrollbar-track {
    background-color: #b996e3;
}


.container {
    background: linear-gradient(to top right, #7659a6, #b996e3);
}

.home__article {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title__home {
    font-size: 10em;
    font-weight: 600;
    color: #b597d9;
    transform: translateY(50%);
    text-align: center;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
}

.title__home:hover {
    color: #715ca2;
}

.p__home {
    font-size: 20px;
    font-weight: 700;
    margin: 10%;
    line-height: 2em;
    text-align: center;
    color: #715ca2;
}

.p__home:hover {
    color: #b597d9;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.list__link {
    padding: 15px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to right, #8c66c2, #652d99);
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #652d99;
    border-radius: 5px;
}

.navbar a.active {
    background-color: #4a1f7a;
}

.list__video {
    display: flex;
    flex-direction: row;
}

.list__itemClips {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: #8c66c2;
    margin: 10px;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title__clips {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.title__date {
    text-align: center;
    color: #e0c3ff;
    font-size: 15px;
}

.title__View {
    color: white;
    font-size: 35px;
    margin: 20px;
    font-weight: 700;
}

.article__clipsViews {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.list__clips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
}

.form__upload {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #8b5fc5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__upload label {
    margin-bottom: 10px;
    color: #fff;
    align-self: flex-start;
}

.form__upload input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #ecf0f1;
}

.form__upload button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

.form__upload button:hover {
    background-color: #2980b9;
}

.videoViews {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 20px 10px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #826fd5;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #2684c4;
}

.videoView__article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.videoView__video {
    margin: 20px;
}

.form__clip {
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #8b5fc5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__clip label {
    margin-bottom: 10px;
    color: #fff;
}

.form__clip input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #ecf0f1;
}

.form__clip input[type="submit"] {
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

.form__clip input[type="submit"]:hover {
    background-color: #2980b9;
}

.video-container {
    width: 400px;
    margin: 20px;
}

.video-container video {
    width: 100%;
    border-radius: 8px;
}

.list__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.download-button {
    padding: 8px 13px;
    font-size: 15px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #826fd5;
    border-radius: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #2684c4;
}

.video__description {
    color: white;
    font-weight: 600;
    margin: 5px 10px 10px 10px;
}

.video__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}



